[submodule "lib/Tools"]
	path = lib/Tools
	url = git@github.com:bezumec82/Tools.git
[submodule "lib/UnixSocketTransport"]
	path = lib/UnixSocketTransport
	url = git@github.com:bezumec82/UnixSocketTransport.git
[submodule "lib/TcpIpTransport"]
	path = lib/TcpIpTransport
	url = git@github.com:bezumec82/TcpIpTransport.git
